body{
    background-color: lightblue;
    color: black;
}

nav{
    text-align: center;
}

nav a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: solid;
}

nav a:hover{
    background-color: rgb(233, 255, 251);
}

h1{
    text-align: center;
    text-decoration: none;
}

h2{
    text-align: center;
    text-decoration: none;
}

div{
    text-align: center;
}

div img{
    border: solid 2px;
    border-radius: 12px;
}

p{
    text-align: center;
}

div img{
    height: 800px;
    width: 500px;
}

div video{
    height: 700px;
    width: 395px;
}

